{# Overriding admin page template and getting rid of all elements but content for the Viewer preview iframe #}
<div class="layout-container">

  <main class="page-content clearfix" role="main">
    {{ page.content }}
  </main>

</div>
