<h2>Getting Involved and Support Options</h2>

{{ attach_library('viewer/viewer.support') }}

<div class="support-container">
  
  <div class="support-child">
    <div class="item-wrapper">
      <h3>Fund development</h3>
      <p>Help fund the day-to-day tasks required to maintain the <a href="https://www.drupal.org/project/viewer" target="_blank" rel="noopener noreferrer">Viewer</a> module. Funds are used to triage issues, resolve security issues, and tag new releases.</p>

      <div class="item-footer">
        <a href="https://buy.stripe.com/9AQg0Kfeo6Fb45aaEE" class="button button--primary" target="_blank" rel="noopener noreferrer">Fund</a><br>
        <em>One-time donation. Open Collective is coming soon.</em>
      </div>
    </div>
  </div>

  <div class="support-child">
    <div class="item-wrapper">
      <h3>Get involved</h3>
      <p>Get involved in the Drupal community and the <a href="https://www.drupal.org/project/viewer" target="_blank" rel="noopener noreferrer">Viewer</a> module. Review a patch, write documentation, contribute code, volunteer at an event, and more...</p>
      <div class="item-footer">
        <a href="https://drupal.org/contribute" class="button button--primary" target="_blank" rel="noopener noreferrer">Contribute</a><br>
        <em>Open to all</em>
      </div>
    </div>
  </div>
  
  <div class="support-child">
    <div class="item-wrapper">
      <h3>Customization</h3>
      <p>Hire the <a href="https://www.drupal.org/project/viewer" target="_blank" rel="noopener noreferrer">Viewer</a> module's expert to ensure the success of your project. I can review your project plan, recommend solutions, and implement custom features.</p>
      <div class="item-footer">
        <a href="https://www.minnur.com" class="button button--primary" target="_blank" rel="noopener noreferrer">Contact</a><br>
        <em>Contact for the rate</em>
      </div>
    </div>
  </div>
  
</div>
