<a class="content-readability-help" title=" {{"Get Help about Content Readability"|t }}" target="_blank" href="{{score.help}}">
  <img class="img-fluid" src="/core/themes/stable/images/core/icons/787878/questionmark-disc.svg"/>
</a>
<div class="content-readability-score">{{ score.value }}</div>
