{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}

    {%
        set classes = []
    %}

    <div {{ attributes }}>
        <div class="row layout-section-container">
            <div class="row">
                <div {{ region_attributes.header.addClass('layout__region', 'layout__region--header col') }}>
                    {% if content.header %}
                        {{ content.header }}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endif %}

