<header class="content-header clearfix">
  <div class="layout-container">
    <div class="ccc-container">

      <header>
        <h1>
          <a href="https://www.civicuk.com/cookie-control" title="Cookie Control by Civic" target="_blank">
            <img src="{{ ccc_logo }}" alt="Cookie Control from CIVIC">
          </a>

        </h1>
      </header>

      <hr>

      <div>
        <p>With an elegant  user-interface that doesn't hurt the look and feel of your site, Cookie Control is a mechanism for user consent and the use of cookies.</p>
        <p>For more information, please visit Civic's Cookie Control pages at: <a href="https://www.civicuk.com/cookie-control" title="Cookie Control by Civic" target="_blank">https://www.civicuk.com/cookie-control</a>.</p>


        <a class="civic" href="https://www.civicuk.com/cookie-control/download" target="_blank">Get Your API Key</a>
      </div>
    </div>
    {{ page.header }}
  </div>
</header>
