body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0px;
}

.dialog-off-canvas-main-canvas .layout-container {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

#block-gin-content  .viewer-preview-wrapper,
.adminimal .viewer-preview-wrapper {
  padding: 20px;
}
