.field--name-localgov-subsites-content > * {
  margin-bottom: var(--spacing-largest);
}

.localgov-alert-banner {
  margin: var(--spacing-large);
  border: var(--border-large);
  border-color: var(--color-black);
}

.banner--primary .banner__content {
  border: var(--border-large);
  border-color: var(--color-white);
}

.ia-block,
.link-block,
.lgd-region__inner--sidebar-first > *,
.lgd-region__inner--sidebar-second > *,
.lgd-guide-nav,
.service-landing-page__service,
.lgd-topic-list-builder__service,
table {
  border-top: var(--border-large);
  border-top-color: var(--color-accent);
}

.ia-block,
.link-block {
  padding-top: var(--spacing);
}

blockquote {
  padding-left: var(--spacing-largest);
  border-left: var(--border-large);
  border-color: var(--color-accent);
}

.leaflet-map-pane .leaflet-popup-content img {
    min-width: 230px;
}

.lgd-region--tabs .tabs > ul > li a {
    padding: 0.75rem;
    font-weight: normal;
}





/* Temporary overrides - Kula - please remove as required rewrite/refactor below */

.lgd-footer__post-footer{
    color: var(--color-pre-footer-text);
    background-color: var(--color-section-pre-footer-bg);
}

.lgd-footer__post-footer .callout{
    background-color: rgba(255,255,255, 0.15);
    border: 1px solid white;
    box-shadow: 5px 5px black;
    font-weight: 300;
    font-size: 1rem;
}

.lgd-footer__post-footer h2, 
.lgd-footer__post-footer h3,
.lgd-footer__post-footer .callout,
.lgd-footer__post-footer a{
    color: white;
}

.search-stats{
    display: flex;
    justify-content: center;
}
ul.search-stats-results{
    list-style: none;
}
ul.search-stats-results li{
    display: inline-block;
    padding: 0 0 0 1rem;
}

#views-exposed-form-localgov-sitewide-search-sitewide-search-page-block label[for='edit-s--2']{
    display: none;
}