.layout-builder__layout .layout__region--sidebar {
    background-color: #deffd2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.layout-builder__layout .layout__region--sidebar:before {
    content: 'Sidebar area';
}